* {
    margin: 0;
    padding: 0;
}

:root {
    --header-font: 'Rye', cursive;
    --secondary-font: 'Pompiere', cursive;
    --main-font: 'Montserrat', sans-serif;
}

body {
    background-color: lightgrey;
    font-family: var(--main-font);
    font-weight: bold;
}

header {
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header-title {
    display: flex;
    align-items: center;
}

#header-text {
    font-family: var(--header-font);
    font-size: 40px;
    padding-right: 15px;
}

#main-container {
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.content-container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px groove goldenrod;
}

#intro-container {
    background: url('../images/backgrounds/introwide.png') center;
}

#intro-container img {
    width: 100%;
    height: auto;
}

#menu-container {
    background: url('../images/backgrounds/townwide.png') center;
}

#menu-container img {
    width: 100%;
    height: auto;
}

#inn-container {
    background: url('../images/backgrounds/innwide.png') center;
}

#inn-container img {
    width: 100%;
    height: auto;
}

#training-container {
    background: url('../images/backgrounds/trainingwide.png') center;
}

#training-container img {
    width: 100%;
    height: auto;
}

#market-container {
    background: url('../images/backgrounds/marketwide.png') center;
}

#market-container img {
    width: 100%;
    height: auto;
}

#battle-container {
    background: url('../images/backgrounds/arenawide.png') center;
}

#battle-container img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: var(--header-font);
    font-size: 35px;
    padding: 5px;
}

.text-box {
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 55%;
}

#intro-box {
    width: 55%;
}

.green-btn {
    background-color: green;
    padding: 10px;
    box-shadow: 7px 7px darkgreen;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: var(--header-font);
    font-size: 34px;
}

.green-btn:active {
    background-color: darkgreen;
}

#start-btn {
    margin-top: 20px;
}

.stats-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 2px solid goldenrod;
}

.stats-element {
    display: flex;
    padding: 5px;
}

.health-icon {
    color: red;
}

.attack-icon {
    color: darkorange;
}

.defense-icon {
    color: blue;
}

.money-icon {
    color: darkgoldenrod;
}

.town-btn {
    background-color: goldenrod;
    padding: 10px;
    box-shadow: 7px 7px darkgoldenrod;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: var(--header-font);
    font-size: 20px;
    margin: 10px;
}

.town-btn:active {
    background-color: darkgoldenrod;
}

.fight-btn {
    background-color: red;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 7px 7px darkred;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: var(--header-font);
    font-size: 34px;
    margin: 10px;
}

.fight-btn:active {
    background-color: darkred;
}

.option-btn-yes {
    background-color: green;
    padding: 10px;
    box-shadow: 7px 7px darkgreen;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: var(--header-font);
    font-size: 20px;
    margin: 10px;
}

.option-btn-yes:active {
    background-color: darkgreen;
}

.option-btn-no {
    background-color: red;
    padding: 10px;
    box-shadow: 7px 7px darkred;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: var(--header-font);
    font-size: 20px;
    margin: 10px;
}

.option-btn-no:active {
    background-color: darkred;
}

.character-container {
    display: flex;
    justify-content: center;
}

.character-image-container {
    margin: 10px;
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

#battle-text-box {
    max-height: 150px;
    overflow: auto;
}

footer {
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#footer-link {
    color: goldenrod;
    font-weight: bold;
    text-decoration: none;
}

#footer-link:hover {
    color: green;
}

@media (max-width: 750px) {
    .content-container {
        height: 994px;
    }

    #intro-container {
        background: url('../images/backgrounds/intronarrow.png') center;
    }

    #menu-container {
        background: url('../images/backgrounds/townnarrow.png') center;
    }

    #inn-container {
        background: url('../images/backgrounds/innnarrow.png') center;
    }

    #training-container {
        background: url('../images/backgrounds/trainingnarrow.png') center;
    }

    #market-container {
        background: url('../images/backgrounds/marketnarrow.png') center;
    }

    #battle-container {
        background: url('../images/backgrounds/arenanarrow.png') center;
    }

    h2 {
        font-size: 25px;
    }

    #intro-box {
        width: 75%;
    }

    .text-box {
        width: 75%;
    }

    .green-btn {
        font-size: 25px;
    }

    .fight-btn {
        font-size: 25px;
    }

    .town-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .option-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
